[Unit]
Description=Vinyl Store application
Wants=vinyl-mysql.service vinyl-api.service vinyl-web.service
After=vinyl-mysql.service vinyl-api.service vinyl-web.service

[Install]
WantedBy=default.target
